@import url(https://fonts.googleapis.com/css?family=Akronim);
@import url('https://fonts.googleapis.com/css?family=Coiny');
body {
    background: #f9f6f1;

    font: 13px/1.7em 'Open Sans';
}


.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 35%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.creative{
    margin-top: 10%;
    margin-bottom: 10%;
}
/* .select{
	margin-top: 15%;
    margin-bottom: 5%;
    width: 275px;
	height: 35px;
} */

.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width:40%;
    margin-bottom:10%;
}
.btnForget{
    background: #c0392b;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}.btnLogin{
    background: #0062cc;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 100%;
}
.forget-password .dropdown ul{
    width: 100%;
}
/* MEDIA QUERIES */

@media(max-width: 1200px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
}

@media(min-width: 990px) and (max-width: 1200px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
}
/* @media(max-width: 911px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
} */
@media(min-width: 768px) and (max-width: 990px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
}
@media(max-width: 768px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
@media(min-width: 500px) and (max-width: 767px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
}
}@media(max-width: 500px){
    .panel-body{
        width: 264.5px;
        height: 411.97px;
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
	margin: 0;
	padding: 0;
}
.hero {
	height: 100%;
	background: linear-gradient(45deg, rgba(5,42,89,.7), rgba(0,135,187,.7),  rgba(52,219,216,.7), rgba(198, 222, 236, 0.7), rgba(52,219,216,.7), rgba(98, 26, 180, 0.7), rgba(36, 59, 85,.7), rgba(20, 30, 48, 0.7)) 0 0 / 1000% no-repeat, url(../images/443-2000x1200-grayscale.jpg) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
/* h1 {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 72px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}
h1 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 300;
} */

.claim
{
  color:#fff;
  font-size:2.5em;
  padding: 22% 7em 0 2em;
  position: relative;
 
}

:root {
    --shadow-color: #dfd1fd;
    --shadow-color-light: #0087bb;
  }

  h1 {
    margin: calc(50vh - 40px) auto 0 auto;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }
  
.logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

  

  .form__field .icon {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%)
  }
  
  .form__input {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
    padding: 0.5em 4em 0.5em 2em;
  }
  
  .form__input:valid {
    border-color: forestgreen;
  }
  
  .form__input:valid + .icon::after {
    content: '😃';
  }
  
  .form__input:invalid {
    border-color: firebrick;
  }
  
  .form__input:invalid + .icon::after {
    content: '😳';
  }
  
  
  .cloud-text {
    /*font-family: 'Akronim'; */
	 font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../images/443-2000x1200-grayscale.jpg);
	/* background-position: 0%; */
	margin: auto;
	font-size: 54px;
    animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

.table-sortable tbody tr {
    cursor: move;
}
.text-center{
    color: #fff;
}
.table-bordered{
    border-radius: 5px;
}


.myForm{
    background-color: rgba(0,0,0,0.5) !important;
    padding: 15px !important;
border-radius: 15px !important;
color: white;

}

/* input:focus{
    outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;

} 

.br-15{
    border-radius: 15px 0 0 15px !important;
}*/

#add_more{
    color: white !important;
    background-color: #fa8231 !important;
    border-radius: 15px !important;
    border: 0 !important;

}
#remove_more{
    color: white !important;
    background-color: #fc5c65 !important;
    border-radius: 15px !important;
    border: 0 !important;
    display: none;

}
    
.submit_btn{
    border-radius: 15px !important;
 background-color: #95c714 !important;
 border: 0 !important;
}

.table-responsive a:link {
        color: blue;
      }
      a:visited {
        color: #000;
      font-size: 12px;
      }
      /* a {
        font-size: 100% !important;
      } */


.button{
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
    @-webkit-keyframes glowing {
      0% { background-color: #496199; -webkit-box-shadow: 0 0 3px #496199; }
      50% { background-color: #e91c58; -webkit-box-shadow: 0 0 40px #e91c58; }
      100% { background-color: #496199; -webkit-box-shadow: 0 0 3px #496199; }
    }

    @-moz-keyframes glowing {
      0% { background-color: #496199; -moz-box-shadow: 0 0 3px #496199; }
      50% { background-color: #e91c58; -moz-box-shadow: 0 0 40px #e91c58; }
      100% { background-color: #496199; -moz-box-shadow: 0 0 3px #496199; }
    }

    @-o-keyframes glowing {
      0% { background-color: #496199; box-shadow: 0 0 3px #496199; }
      50% { background-color: #e91c58; box-shadow: 0 0 40px #e91c58; }
      100% { background-color: #496199; box-shadow: 0 0 3px #496199; }
    }

    @keyframes glowing {
      0% { background-color: #496199; box-shadow: 0 0 3px #496199; }
      50% { background-color: #e91c58; box-shadow: 0 0 40px #e91c58; }
      100% { background-color: #496199; box-shadow: 0 0 3px #496199; }
    }

    